.header {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 180%;
    /* identical to box height, or 58px */
  
    color: #000000;
    letter-spacing: 0.01em;
  }
  .subHeader {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    /* or 175% */
  
    text-align: center;
  
    /* Dark Grey */
  
    color: #717b8a;
    margin: 2px 0 55px 0;
  }
  .smallerHeader{
        font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    /* or 175% */
    line-height: 36px;
  
  margin-right: 15px;
    /* Dark Grey */
  
    color: #323335;
  }
  .smallerText{
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 28px;
    /* or 175% */
    /* Dark Grey */
  
    color: #31353a;
  }
  .newItemInput > input {
    border: none !important;
    border-bottom: 1px solid #cecece !important;
  }
  .newItemInput > input:hover {
    border: none !important;
    border-bottom: 1px solid #2079f6 !important;
  }
  .newItemInput > input:focus {
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #2079f6 !important;
  }
  
.inputFieldWrapper{
  margin:20px 0px;
}
.inputLabel{
  font-size: 14px;
  color: #717b8a;
  margin-bottom: 7.5px;;

}
.newItemInput > input {
  border: none !important;
  border-bottom: 1px solid #cecece !important;
}
.newItemInput > input:hover {
  border: none !important;
  border-bottom: 1px solid #2079f6 !important;
}
.newItemInput > input:focus {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #2079f6 !important;
}