
  .slide {
    text-align: center;
    height: 200px;
    line-height: 250px;
    overflow: hidden;
    background-color: #fafafa;
  }
  .slid {
    height: 50px;
    line-height: 250px;
    overflow: hidden;
  }
  .above {
    background:white;
    height: 400px;
    padding: 0%;
    color: white;
  }
  .second {
    height: 250px;
    padding: 0%;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,700&display=swap');

  h1 {
    font-family: 'Josefin Sans', sans-serif;
  }
